<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DbConnFactory.DatabaseFactorySectionHandler, DbConnFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="MyConnection1" providerName="Oracle.DataAccess.Client" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;Integrated Security=no;"/>
    <add name="MyConnection2" providerName="System.Data.SqlClient" connectionString="Data Source=WIN-3VU0IUD67IK\SQLEXPRESS;Initial Catalog=ProyDotNet;User ID=sa;Password=Flpvrgs1966;"/>
    <add name="MyConnection3" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas2;User Id=mytest;Password=valerie5250;"/>
    <add name="MyConnection4" providerName="Oracle.DataAccess" connectionString="Data Source=Pruebas3;User Id=mytest;Password=oracle;"/>
    <add name="MyConnection5" providerName="MySql.Data.MySqlClient" connectionString="Server=10.25.1.86; UserID=root;Password=valerie5250;Database=TESTDB"/>
  </connectionStrings>
  <!--
  <DatabaseFactoryConfiguration Name="MyStuff.Managers.OracleDatabase" ConnectionStringName="MyConnection1" />
  -->
  <!-- con el atributo id se identifica cual conexión se va a utilizar  
       Esta se indica en la clase DataWorker, en el constructor 
        static DataWorker()
        {
            try
            {
                _database = DatabaseFactory.CreateDatabase(3);
            }
            catch (Exception excep)
            {
                throw excep;
            }
        }
        
       -->
  <DatabaseFactoryConfiguration>
    <add name="Prueba1" ConnectionStringName="MyConnection1" classProvider="DbConnFactory.OracleDatabase"/>
    <add name="Prueba2" ConnectionStringName="MyConnection2" classProvider="DbConnFactory.MsSqlServerDatabase"/>
    <add name="Prueba3" ConnectionStringName="MyConnection3" classProvider="DbConnFactory.OracleOdpDatabase"/>
    <add name="Prueba4" ConnectionStringName="MyConnection4" classProvider="DbConnFactory.OracleOdpDatabase"/>
    <add name="Prueba5" ConnectionStringName="MyConnection5" classProvider="DbConnFactory.MySqlDatabase"/>
    <!--... -->
  </DatabaseFactoryConfiguration>
  <appSettings>
    <add key="valor1" value="12344"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
